
    <section style="padding: 4rem; background-color: #fff5e6; text-align: center;">
      <h1 style="font-size: 3rem;">who invited you back to work?</h1>
      <p style="font-size: 1.25rem;">you're out of office now. forever. probably.</p>
    </section>
    
